<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="CustomShipping" id="CustomShipping">
			<module before="Magento_Backend" name="KikinbenShipping_CustomsShipping"/>
		</route>
		<route frontName="kikinbenshipping_customsshipping" id="kikinbenshipping_customsshipping">
			<module before="Magento_Backend" name="KikinbenShipping_CustomsShipping"/>
		</route>
	</router>
</config>
