<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="KikinbenShipping\CustomsShipping\Model\ResourceModel\Customshipping\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">kikinbenshipping_customshipping</argument>
			<argument name="resourceModel" xsi:type="string">KikinbenShipping\CustomsShipping\Model\ResourceModel\Customshipping\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="kikinbenshipping_customshipping_grid_data_source" xsi:type="string">KikinbenShipping\CustomsShipping\Model\ResourceModel\Customshipping\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
